<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/producto.css" />
    <!-- link para el control del carusel -->
    <link rel="stylesheet" type="text/css" href="/css/lightslider.css" />

    <!-- Jquery -->
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/lightslider.js"></script>
    <!--  -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/99035ba4e5.js"
      crossorigin="anonymous"
    ></script>

    <title>Producto</title>
  </head>
  <body>
    <header>
      <a href="/index" class="logo">El Buscador</a>
      <div class="menu-cel"></div>
      <nav>
        <ul>
          <li><a href="/index" class="active">Home</a></li>
          <li><a href="/producto">Producto</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/registro">Registro</a></li>
          <li><a href="/carrito">Carrito</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h2>Detalle del Producto</h2>
      <section class="producto">
        <!-- <article> -->
        <figure>
          <div class="img-principal">
            <img src="../img/img/jeans-1.jpg" alt="imigen principal" />
          </div>
          <!-- estas imagenes se ven recien en modo table en adelante  -->
          <div class="img-secundarias">
            <img
              src="../img/img/jeans-1.jpg"
              alt="img secundaria"
              class="img-sec-1"
            />
            <img
              src="../img/img/jeans-1.jpg"
              alt="img secundaria"
              class="img-sec-2"
            />
            <img
              src="../img/img/jeans-1.jpg"
              alt="img secundaria"
              class="img-sec-3"
            />
            <img
              src="../img/img/jeans-1.jpg"
              alt="img secundaria"
              class="img-sec-4"
            />
          </div>
        </figure>
        <div class="footer-producto-principal">
          <p>Nombre Del Producto</p>
          <p>$ 3000</p>
          <form action="" method="POST" class="form-color">
            <label for="">Color</label>
            <div>
              <label for="color"></label>
              <input type="color" name="color" value="#f9989f" />
              <label for="color"></label>
              <input type="color" name="color" value="#fccb8f" />
              <label for="color"></label>
              <input type="color" name="color" value="#faf096" />
              <label for="color"></label>
              <input type="color" name="color" value="#c5f8c8" />
              <label for="color"></label>
              <input type="color" name="color" value="#aeaeae" />
            </div>
          </form>
          <form action="" class="form-talle">
            <label for="">Talle</label>
            <div>
              <label for="talle">1</label>
              <input type="radio" name="talle" />
              <label for="talle">2</label>
              <input type="radio" name="talle" />
              <label for="talle">3</label>
              <input type="radio" name="talle" />
              <label for="talle">4</label>
              <input type="radio" name="talle" />
              <label for="talle">5</label>
              <input type="radio" name="talle" />
            </div>
          </form>
          <!-- </article> -->
          <div class="btn">
            <button type="submit">Añadir al carrito</button>
            <button type="submit">Comparar ahora</button>
          </div>
          <article class="descripcion-producto">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
              aliquam iusto nemo? Tempore, praesentium quasi culpa nihil,
              aliquid quidem nobis ipsum saepe ab consequuntur laborum ex error
              commodi repudiandae aut a ut. Dicta nulla, in iste natus quia et
              aliquid modi dolore illum soluta voluptate at quibusdam, amet
              commodi blanditiis.
            </p>
          </article>
        </div>
      </section>

      <section class="corte">
            <div>
                <h2>SUMMER 2022</h2>

            </div>
        </section>

      <h2>Productos Relacionados</h2>
      <section class="carusel">
        <!-- codigo extraido de http://sachinchoolur.github.io/lightslider/examples.html -->
        <ul id="autoWidth" class="cs-hidden">
          <!-- img-1 ------------------------------->
          <li class="item">
            <div class="box">
              <!-- box-producto -->
              <div class="slide-img">
                <img src="../img/img/jeans-1.jpg" alt="" />
                <!-- capa -->
                <div class="capa">
                  <!-- btn comprar -->
                  <a href="" class="btn-comprar">Comprar</a>
                </div>
              </div>
              <!-- detalle-producto -->
              <div class="detalle-producto">
                <div class="type">
                  <a href="">Lorem ipsum dolor sit</a>
                  <span>New Arrival</span>
                </div>
                <a href="" class="price">$23</a>
              </div>
            </div>
            <!-- cierre-box -->
          </li>
          <!-- img-2 ------------------------------->
          <li class="item">
            <div class="box">
              <!-- box-producto -->
              <div class="slide-img">
                <img src="../img/img/jeans-2.jpg" alt="" />
                <!-- capa -->
                <div class="capa">
                  <!-- btn comprar -->
                  <a href="" class="btn-comprar">Comprar</a>
                </div>
              </div>
              <!-- detalle-producto -->
              <div class="detalle-producto">
                <div class="type">
                  <a href="">Lorem ipsum dolor sit</a>
                  <span>New Arrival</span>
                </div>
                <a href="" class="price">$23</a>
              </div>
            </div>
            <!-- cierre-box -->
          </li>
          <!-- img-3 ------------------------------->
          <li class="item">
            <div class="box">
              <!-- box-producto -->
              <div class="slide-img">
                <img src="../img/img/pantalon-mujer.jpg" alt="" />
                <!-- capa -->
                <div class="capa">
                  <!-- btn comprar -->
                  <a href="" class="btn-comprar">Comprar</a>
                </div>
              </div>
              <!-- detalle-producto -->
              <div class="detalle-producto">
                <div class="type">
                  <a href="">Lorem ipsum dolor sit</a>
                  <span>New Arrival</span>
                </div>
                <a href="" class="price">$23</a>
              </div>
            </div>
            <!-- cierre-box -->
          </li>
          <!-- img-4 ------------------------------->
          <li class="item">
            <div class="box">
              <!-- box-producto -->
              <div class="slide-img">
                <img src="../img/img/pantalon-niña.jpg" alt="" />
                <!-- capa -->
                <div class="capa">
                  <!-- btn comprar -->
                  <a href="" class="btn-comprar">Comprar</a>
                </div>
              </div>
              <!-- detalle-producto -->
              <div class="detalle-producto">
                <div class="type">
                  <a href="">Lorem ipsum dolor sit</a>
                  <span>New Arrival</span>
                </div>
                <a href="" class="price">$23</a>
              </div>
            </div>
            <!-- cierre-box -->
          </li>
          <!-- img-5 ------------------------------->
          <li class="item">
            <div class="box">
              <!-- box-producto -->
              <div class="slide-img">
                <img src="../img/img/niñas.jpg" alt="" />
                <!-- capa -->
                <div class="capa">
                  <!-- btn comprar -->
                  <a href="" class="btn-comprar">Comprar</a>
                </div>
              </div>
              <!-- detalle-producto -->
              <div class="detalle-producto">
                <div class="type">
                  <a href="">Lorem ipsum dolor sit</a>
                  <span>New Arrival</span>
                </div>
                <a href="" class="price">$23</a>
              </div>
            </div>
            <!-- cierre-box -->
          </li>
          <!-- img-6 ------------------------------->
          <li class="item">
            <div class="box">
              <!-- box-producto -->
              <div class="slide-img">
                <img src="../img/img/niños.jpg" alt="" />
                <!-- capa -->
                <div class="capa">
                  <!-- btn comprar -->
                  <a href="" class="btn-comprar">Comprar</a>
                </div>
              </div>
              <!-- detalle-producto -->
              <div class="detalle-producto">
                <div class="type">
                  <a href="">Lorem ipsum dolor sit</a>
                  <span>New Arrival</span>
                </div>
                <a href="" class="price">$23</a>
              </div>
            </div>
            <!-- cierre-box -->
          </li>
          <!-- img-7 ------------------------------->
          <li class="item">
            <div class="box">
              <!-- box-producto -->
              <div class="slide-img">
                <img src="../img/img/remera-niño.jpg" alt="" />
                <!-- capa -->
                <div class="capa">
                  <!-- btn comprar -->
                  <a href="" class="btn-comprar">Comprar</a>
                </div>
              </div>
              <!-- detalle-producto -->
              <div class="detalle-producto">
                <div class="type">
                  <a href="">Lorem ipsum dolor sit</a>
                  <span>New Arrival</span>
                </div>
                <a href="" class="price">$23</a>
              </div>
            </div>
            <!-- cierre-box -->
          </li>
          <!-- img-8 ------------------------------->
          <li class="item">
            <div class="box">
              <!-- box-producto -->
              <div class="slide-img">
                <img src="../img/img/remera-mujer.jpg" alt="" />
                <!-- capa -->
                <div class="capa">
                  <!-- btn comprar -->
                  <a href="" class="btn-comprar">Comprar</a>
                </div>
              </div>
              <!-- detalle-producto -->
              <div class="detalle-producto">
                <div class="type">
                  <a href="">Lorem ipsum dolor sit</a>
                  <span>New Arrival</span>
                </div>
                <a href="" class="price">$23</a>
              </div>
            </div>
            <!-- cierre-box -->
          </li>
        </ul>
      </section>

      <!-- <section class="corte">
        <div>
          <h2>SUMMER 2022</h2>
        </div>
      </section> -->
      <!-- <section class='secciones'>
            <div class="seccion mujer">
                <a href=""></a>
            </div>
            <div class="seccion niño">
                <a href=""></a>
            </div>
            <div class="seccion niña">
                <a href=""></a>    
            </div>
            <div class="seccion accesorios">
                <a href=""></a>
            </div>
           
        </section> -->
      <!-- <div class="ola" style="height: 150px; overflow: hidden">
        <svg
          viewBox="0 0 500 150"
          preserveAspectRatio="none"
          style="height: 100%; width: 100%"
        >
          <path
            d="M-11.57,-10.36 C145.87,168.25 284.71,-70.55 404.34,40.95 L500.00,150.00 L0.00,150.00 Z"
            style="stroke: none; fill: #282828"
          ></path>
        </svg>
      </div> -->

    </main>
    <footer>
      <a href="https://api.whatsapp.com/send?phone=">
          <img id="whatsapp" src="img/img/whatsapp.png" alt="whatsapp">
      </a>    
      <div class="contacto">
          <h3>El Buscador</h3>
          <a href="/index" >Home</a>
          <a href="/producto">Producto</a>
          <a href="/login">Login</a>
          <a href="registro">Registro</a>
      </div>
      <div class="redes">
          <p>Puedes seguirnos</p>
          <a class="face" href=""><i class="fab fa-facebook"></i></a>
          <a class="insta" href=""><i class="fab fa-instagram"></i></a>
          <a class="map" href=""><i class="fas fa-map-marked-alt"></i></a>
      </div>
  </footer>
    <!-- script del carusel -->
    <script type="text/javascript" src="../js/script.js"></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
      crossorigin="anonymous"
    ></script>

    <!-- con javascript insertamos la clase active para mostrar una cosa o la otra, asi podemos mostrar el menu hamburguesa o la x para cerrar, indicando cual esta activa(haciendo click) mostramos -->
    <script type="text/javascript">
      $(document).ready(function () {
        $(".menu-cel").click(function () {
          $(".menu-cel").toggleClass("active");
          $("nav").toggleClass("active");
        });
      });
    </script>
  </body>
</html>
