<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/carrito.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/99035ba4e5.js" crossorigin="anonymous"></script>
    <title>Producto</title>
</head>
<body>
    <header>
        <nav class="barra-navegacion">
            <figure class="logo">
                <img src="" alt="logo">
            </figure>

            <a href="#" class="burger-menu">
                <i class="fas fa-bars"></i>
            </a>

            <div class="nav">
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">Producto</a></li>
                    <li><a href="#">Registro</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Carrito</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <h2>Detalle del Producto</h2>
        <section class='producto'>
            <article>
                <figure>
                    <div class='img-principal'>
                        <img src="../img/img/jeans-1.jpg" alt="imigen principal">
                    </div>
                    <div class='img-secundarias'>
                        <img src="../img/img/jeans-1.jpg" alt="img secundaria">
                        <img src="../img/img/jeans-1.jpg" alt="img secundaria">
                        <img src="../img/img/jeans-1.jpg" alt="img secundaria">
                        <img src="../img/img/jeans-1.jpg" alt="img secundaria">
                    </div>
            </figure>
            <div class='footer-producto'>
                <p>Nombre Del Producto</p>
                <p>$ 3000</p>
                <p>Talles</p>
                <form action="" method="POST">
                    <label for="nombre">Nombre:</label>
                    <input type="text" name="" id="nombre">
                </form>
                <p>Color</p>
               <form action="">

               </form>
            </div>
        </article>
        <article class='btn'>
            <button type="submit">Añadir al carrito</button>
            <button type="submit">Comparar ahora</button>
            
        </article>
        <article class='descripcion-producto'>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore aliquam iusto nemo? Tempore, praesentium quasi culpa nihil, aliquid quidem nobis ipsum saepe ab consequuntur laborum ex error commodi repudiandae aut a ut. Dicta nulla, in iste natus quia et aliquid modi dolore illum soluta voluptate at quibusdam, amet commodi blanditiis.
            </p>
        </article>
        </section>
        <section class='productos-relacionados'>
            <h2>Productos Relacionados</h2>
            <article class='articulo-relacionado'>
                <div class='img-principal'>
                    <img src="../img/img/jeans-2.jpg" alt="imigen principal">
                </div>
                <div class='footer-producto'>
                    <p>Nombre Del Producto</p>
                    <p>$ 3000</p>
                </div>
            </article>
        </section>
    </main>
    <footer>

    </footer>
</body>
</html>