*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #eef8ff;
}
main{
    margin-top: 100px;
}
main{
    width: 100vw;
}
form{
    padding: 10px;
}
form div{
    margin: 5px auto;
}
.btn{
    width: 30%;
    margin: 0 auto;
}
.separador{

}