* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/*******configuracion del menu*************/
header{
  position: fixed; 
  top: 0;
  max-width: 1200px;
  width: 100vw;
  height: 80px;
  
  padding: 10px;
  background-color: #c5f8c8;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;

}
.logo{
  display: block;
  color: #f9989f;
  height: 60px;
  font-size: 36px;
  line-height: 60px;
  padding:0 20px ;
  position: absolute;
  display: flex;
  font-weight: 700;
  text-decoration: none;
}
.menu-cel{
  display: block;
  width: 40px;
  height: 40px;
  margin: 10px;
  cursor: pointer;
  font-size: 30px;
  color: #f9989f;
  position:absolute;
  right: 20px;
  
}
.menu-cel.active::before{
  content: "\f00d";
  font-family: fontAwesome;
  line-height: 40px;
}
.menu-cel::before{
  content: "\f0c9";
  font-family: fontAwesome;
  line-height: 40px;
  
}
nav ul{
  display: flex;
  
}
nav ul li {
  list-style: none;
}
nav ul li a{
  display: block;
  margin: 10px 0;
  padding: 10px 20px;
  text-decoration: none;
  color: #000;
}
nav{
  display: none;
}
nav.active{
  display: block;
  width: 100%;

}
nav.active ul{
  display: block;
  width:100% ;
  margin-top: 70px;
  background-color: #c5f8c8;
  border-radius: 5px;
}
nav.active ul li a{
  
  margin: 0;
}

nav ul li a.active,
nav ul li a:hover{
  background-color:#f9989f ;
  letter-spacing: 1px;
  transition: 500ms;
  transform: translate(-5px,-5px);
  border-radius: 5px;

}

  /*Estructura*/

  main{
    max-width: 1200px;
    margin: 10px auto;
} 
  .estructura{margin: 10px auto;
    border-top: #42B218 1px solid;
    border-bottom: #42B218 1px solid;
    

  }
  h2{ 
      font-size: 55px;
      font-weight: 400px;
      color: #f9989f;
     
}
.imagen-principal{
    width: 20%;
    margin: 10px auto;
}

  .imagen-principal img{
    width: 100%;
    display: block;
    height: auto;
    
  }
  .descripcion{
      display: flex;

  }
  .descripcion p{
  /*margin: 20px 10px;
  border-top: #42B218 1px solid;
  border-bottom: #42B218 1px solid;*/
  text-align: center;
  font-size: 16px;
  align-items: center;
  display: block;
  margin-left: 10px;
  padding: 5px;
  
  
  }

.info{
    width: 100vw;
    display: flex;
    justify-content:flex-end;
    max-width: 1200px;
    

}
.envio, .retiro{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.envio p, .retiro p{
    margin: 10px 3px;

}
.envio i, .retiro i{
  color: #c5f8c8;
}
.resumen-del-pedido p{
    font-size: 20px;
    padding: 10px;
    margin-left: 10px;
}
  
 
  h3{
    font-size: 40px;
    font-weight: 150;
    color: #f9989f;
    text-align: center
  }

  .btn button{
    color: #f9989f;
    margin: 15px 0;
    font-weight: 550;
    font-size: 14px;
    line-height: 23px;
    width: 110px;
    height: 41px;
    border: 1px solid #f9989f;
  
  }
  .corte div{
  
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  .corte div h2{
    color: #f9989f;
    font-size: 54px;
    font-weight: 700;
    
  
  }
  .corte{
    width: 99vw;
    height: 250px;
    margin: 50px 0;
    background-image:
    linear-gradient(0deg, rgba(197,248,200,1) 0%, rgba(253,187,45,0.3561799719887955) 100%), url("/img/img/fondo-flores.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    
  
  }
  .btn{
      text-align: center;
  }
  /*.btn {
    margin: 20px 10px;
    border-top: #42B218 1px solid;
    border-bottom: #42B218 1px solid;}*/
  
  .btn button:hover {
    color: #282828;
    background-color: #f9989f;
    border-radius: 20px;
  }
  .form{
      text-align: center;
  }
  form{
     margin: 20px auto;
  }
  .form input{
      text-align: center;
      font-size: 20px;
      border-color: #000;
      border-radius: 20px;
      

  }

  /*-----Footer-----*/
  footer {
    width: 100vw;
    height: 150px;
    
    background-color: #282828;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  footer .contacto{
    width: 50%;
    
  }
  footer .contacto p{
    color: #b4b3b7;
    padding: 5px;
  }
  footer .redes{
    text-align: center;
    width: 50%;
    
  }
  footer .redes p{
    color: #b4b3b7;
  }
  footer .redes a{
    text-decoration: none;
    color: #b4b3b7;
    font-size: 24px;
    margin: 5px;
    
    
  }
  footer .face:hover{
    color:#f9989f;
    font-size: 26px;
    
  }
  footer .insta:hover{
    color:#c5f8c8;
    font-size: 26px;
    
  }
  footer .map:hover{
    color:#faf096;
    font-size: 26px;
    
  }


  @media (min-width:768px){
    
    .estructura{
          display: flex;
          align-items: center;
          justify-content: flex-start;
      }
      .imagen-principal{
          width: 5%;
          margin: 5px;
      }
      .descripcion{
          width: 5%;
          display: flex;
      }
      .descripcion p{
          margin: 2px;
          display: block;
      }
      .info{
          width: 50%;
      }
  }

 
  