* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;

}

body {
  background-color: #eef8ff;
}

/*******configuracion del menu*************/
header {
  position: fixed;
  top: 0;
  margin: 0 auto;
  /* max-width: 1200px; */
  width: 100vw;
  height: 80px;
  padding: 10px;
  background-color: #c5f8c8;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  z-index: 9999;
  opacity: 0.9;


}

.logo {
  display: block;
  color: #f9989f;
  height: 60px;
  font-size: 36px;
  line-height: 60px;
  padding: 0 20px;
  position: absolute;
  display: flex;
  font-weight: 700;
  text-decoration: none;
}

.menu-cel {
  display: block;
  width: 40px;
  height: 40px;
  margin: 10px;
  cursor: pointer;
  font-size: 30px;
  color: #f9989f;
  position: absolute;
  right: 20px;

}

.menu-cel.active::before {
  content: "\f00d";
  font-family: fontAwesome;
  line-height: 40px;
}

.menu-cel::before {
  content: "\f0c9";
  font-family: fontAwesome;
  line-height: 40px;

}

nav ul {
  display: flex;

}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  margin: 10px 0;
  padding: 10px 20px;
  text-decoration: none;
  color: #000;
}

nav {
  display: none;
}

nav.active {
  display: block;
  width: 100%;

}

nav.active ul {
  display: block;
  width: 100%;
  margin-top: 70px;
  background-color: #c5f8c8;
  border-radius: 5px;
}

nav.active ul li a {

  margin: 0;
}

nav ul li a.active,
nav ul li a:hover {
  background-color: #f9989f;
  letter-spacing: 1px;
  transition: 500ms;
  transform: translate(-5px, -5px);
  border-radius: 5px;

}

/* ************************* main *****************************
  ************************************************************ */
main {
  margin: 0 auto;
  max-width: 1200px;
  padding-bottom: 40px;
}


.titulo-header {
  margin-top: 130px;
  margin-bottom: 40px;
  font-size: 36px;
  text-align: center;
  width: 100vw;
}

.titulo-header h1 {
  font-size: 30px;
}

/* 
  ********************************************************
  **************** asaide **** filtrado ****************** */

.aside-filtar{
  position: relative;
  width: 100vw;
  
  min-height: 50px;
  padding-left: 20PX;
  border-radius: 10px;
} 


.aside-filtar h2{
  text-align: center;
}

.filtrado-producto {
  display: none;
}

/* *******************************************************
  ****************** productos ************************** */
article {
  width: 100vw;
  max-width: 1200px;
}

article .productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  width: 160px;
  height: 250px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  /* el overflow si lo sacamos no se ven las puntas redondeadas */
  overflow: hidden;
  margin: 5px;
  text-align: center;

}

.box a {
  text-decoration: none;
  background-color: transparent;
}

.slide-img {
  height: 65%;
  /* ponemos position:relative para poder manupular el btn de comprar */
  position: relative;
}

.slide-img img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.detalle-producto {


  /* display: flex;
    justify-content: space-between;
    align-items: center; */
  font-family: 'Poppins', sans-serif;
  padding: 5px
}

.type {
  display: flex;
  flex-direction: column;
}

.type a {
  color: #222222;
  text-decoration: none;
  margin: 5px 0px;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding-right: 8px;
}

.type span {
  color: rgba(26, 26, 26, 0.5);
  font-size: 12px;
}

.price {
  display: block;
  padding: 2px;
  color: #333333;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.5px;
}

.capa {
  position: absolute;
  /* usamos left y top 50% para centar, luego el trasform como artilijio para que quede bien centrado */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(197, 248, 200, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-comprar {
  width: 160px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #f9989f;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: 'Poppins', sans-serif;
  border-radius: 20px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}

.btn-comprar:hover {
  color: #ffffff;
  background-color: #f9989f;
  transition: all ease 300ms;
}

/* ocultamos ca lapa para cuando hacemos hover sobre la img la hacemos aparecer */
.capa {
  visibility: hidden;
}

.slide-img:hover .capa {
  visibility: visible;
  animation: aparecer 500ms;

}

@keyframes aparecer {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*****************************************************/
/************* whatsapp *******************************/
#whatsapp {
  height: 60px;
  width: auto;
  position: fixed;
  bottom: 20px;
  right: 15px;
  z-index: 999;
}

 #whatsapp:hover {
   transform: scale(1.1);
 }

/***************footer**********************/
.ola {
  color: #282828;

}

footer {
  width: 100vw;
  height: 150px;
  background-color: #282828;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .contacto {
  width: 50%;
  padding-left: 40px;
}

footer .contacto a {
  display: block;
  text-decoration: none;
  color: #b4b3b7;
  width: 20px;
}

footer .contacto a:hover {
  display: block;
  text-decoration: none;
  color: #f9989f;
  width: 20px;
}

footer .contacto h3 {
  color: #b4b3b7;
  font-size: 20px;
  text-align: left;
  font-weight: 900;
}

footer .contacto p {
  color: #b4b3b7;
  padding: 5px;
}

footer .redes {
  text-align: center;
  width: 50%;

}

footer .redes p {
  color: #b4b3b7;
  font-size: 1.3em;
}

footer .redes a {
  text-decoration: none;
  color: #b4b3b7;
  font-size: 36px;
  margin: 5px;


}

footer .face:hover{
  color:#1877F2;
  font-size: 38px;
  
 }
 footer .insta:hover{
  color:#E4405F;
  font-size: 38px;
  
 }
 footer .map:hover{
  color:#faf096;
  font-size: 38px;
 }

@media (min-width:360px) {



}

@media (min-width: 678px) {

  /***********************/
  .menu-cel {
    display: none;
  }

  nav {
    display: block;
    position: absolute;
    right: 10px;
  }

  .main-listado {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

  }

  .seccion-header {
    width: 100vw;

  }
  .aside-filtar{
    background-image:
    linear-gradient(0deg, rgba(197,248,200,1) 0%, rgba(253,187,45,0.3561799719887955) 100%), url("/img/img/fondo-flores.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }
  .filtrado-producto {
    display: block;
  }
  .filtrado-producto a{
    text-decoration: none;
    color: #000;
  }
  .filtrado-producto .li-titulos{
    margin-left: 10px;
    font-weight: 500;
  }
  .filtrado-producto .li-items{
    margin-left: 65px;
    font-weight: 100;
  }
  .aside-filtar {
    
    width: 25vw;
  }
  
  .li-titulos{
    padding-left: 20px;
  }
  .li-items{
    padding-left: 25;
  }

  .article-productos {
    width: 70vw;
  }

  .titulo-header h1 {
    font-size: 35px;
  }

}

@media (min-width: 1200px) {

  .main-listado {
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

  }

  .seccion-header {
    width: 100vw;

  }

  .filtrado-producto {
    display: block;
  }

  .aside-filtar {
    width: 30%;
  }

  .article-productos {
    width: 60%;
  }

  .titulo-header h1 {
    font-size: 50px;
  }



}