<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="shortcut icon" href="../img/img/icono-web.png" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/99035ba4e5.js" crossorigin="anonymous"></script>
    <title>El Buscador - Ropa y accesorios</title>
</head>
<body>

    <!-- header -->
    <%- include('../views/partials/header') %>

    <main>
        <section class="section-home-first">
            
            <div class="img-section-home-first">
             
                <img  src="../img/img/armario.jpg" alt="Armario">

                    <div class='btn' id="boton-stock">
                        <button>Ver stock</button>   
                     </div>            
 
            </div>
            </div>



        </section>
        <section class="section-home-second">
            <div class="container-home-second">
                <section class="corte-home">
                    <div>
                        <h2>Mujeres</h2>
        
                    </div>
                </section>
                <div class="container-img-homen-second">
                    <img  src="../img/img/mujeres.jpg" alt="Mujeres">
                </div>
                <div class="container-home-fotos-pc">
                    <div>
                        <img  src="../img/img/calzado-mujer.jpg" alt="Mujeres">
                        <div class='btn' >
                            <button>Calzado</button>   
                         </div>  
                    </div>
                    <div>
                        <img  src="../img/img/pantalon-mujer.jpg" alt="Mujeres">
                        <div class='btn'>
                            <button>Pantalones</button>   
                         </div>  
                    </div>
                    <div>
                        <img  src="../img/img/abrigo-mujer.jpg" alt="Mujeres">
                        <div class='btn'>
                            <button>Abrigo</button>   
                         </div>  
                    </div>
                    <div>
                        <img  src="../img/img/remera-mujer.jpg" alt="Mujeres">
                        <div class='btn'>
                            <button>Remeras</button>   
                         </div>  
                    </div>
                </div>
                
            </div>
            <div class="container-home-second">
                <div class="container-img-homen-second">
                    <img  src="../img/img/niñas.jpg" alt="Niñas">
                </div>
                <div class="container-home-fotos-pc">
                    <div>
                        <img  src="../img/img/calzado-niña.jpg" alt="Niñas">
                        <div class='btn' >
                            <button>Calzado</button>   
                         </div>  
                    </div>
                    <div>
                        <img  src="../img/img/pantalon-niña.jpg" alt="Niñas">
                        <div class='btn'>
                            <button>Pantalones</button>   
                         </div>  
                    </div>
                    <div>
                        <img  src="../img/img/abrigo-niña.jpg" alt="Niñas">
                        <div class='btn'>
                            <button>Abrigo</button>   
                         </div>  
                    </div>
                    <div>
                        <img  src="../img/img/remera-niña.jpg" alt="Niñas">
                        <div class='btn'>
                            <button>Remeras</button>   
                         </div>  
                    </div>
                </div>
                <section class="corte-home" id="titulo-niñas-cambio-orden">
                    <div>
                        <h2>Niñas</h2>
        
                    </div>
                </section>
                
            </div>
            <div class="container-home-second">
                <section class="corte-home">
                    <div>
                        <h2>Niños</h2>
        
                    </div>
                </section>
                <div class="container-home-fotos-pc">
                    <div>
                        <img  src="../img/img/calzado-niño.jpg" alt="Niños">
                        <div class='btn' >
                            <button>Calzado</button>   
                         </div>  
                    </div>
                    <div>
                        <img  src="../img/img/pantalon-niño.jpg" alt="Niños">
                        <div class='btn'>
                            <button>Pantalones</button>   
                         </div>  
                    </div>
                    <div>
                        <img  src="../img/img/abrigo-niño.jpg" alt="Niños">
                        <div class='btn'>
                            <button>Abrigo</button>   
                         </div>  
                    </div>
                    <div>
                        <img  src="../img/img/remera-niño.jpg" alt="Niños">
                        <div class='btn'>
                            <button>Remeras</button>   
                         </div>  
                    </div>
                </div>
                <div class="container-img-homen-second">
                    <img  src="../img/img/niños.jpg" alt="Niños">
                </div>
            </div>
        </section>
    </main>
    <!-- FOOTER -->
    <%- include ("../views/partials/footer.ejs") %> 
        <!-- instalcion de jquery -->
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <!-- con javascript insertamos la clase active para mostrar una cosa o la otra, asi podemos mostrar el menu hamburguesa o la x para cerrar, indicando cual esta activa(haciendo click) mostramos -->
        <script type="text/javascript">
        $(document).ready(function(){
            $(".menu-cel").click(function(){
                $(".menu-cel").toggleClass("active")
                $("nav").toggleClass("active")
            })
        });
        </script>

</body>
</html>