<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/error.css">
    <title>Document</title>
</head>
<body>
    <div class ="error">
    <h2>Upss...Pagina no encontrada!!</h2>
    <div class = container> 
    <h1>Error 404</h1>
    </div>
    <div class= "imagen">
        <img src="/img/img/carpierror2.jpg" alt="imagen carpincho" width="200 px">
    </div>
    <h3>Prueba con alguno de los siguientes enlaces:</h3>
    <ul class="ul">
        <li><a href="http://localhost:3000/">Home</a></li>
        <li><a href="http://localhost:3000/users/register">Crea tu cuenta</a></li>
        <li><a href="http://localhost:3000/users/login">Usuarios registrados</a></li>
    </ul>
    </div>
</body>
</html>