<footer>
    <a href="https://api.whatsapp.com/send?phone=">
        <img id="whatsapp" src="../img/img/whatsapp.png" alt="whatsapp">
    </a>    
    <div class="contacto">
        <h3>El Buscador</h3>
        <a href="/" >Home</a>
        <a href="/producto/listadoProducto">Producto</a>
        <a href="/users/login">Login</a>
        <a href="/users/register">Registro</a>
    </div>
    <div class="redes">
        <p>Puedes seguirnos en: </p>
        <a class="face" href=""><i class="fab fa-facebook"></i></a>
        <a class="insta" href=""><i class="fab fa-instagram"></i></a>
        <a class="map" href=""><i class="fas fa-map-marked-alt"></i></a>
    </div>
</footer>