
<header>
    <a href="/" class="logo">El Buscador</a>
    <div class="menu-cel">
        
    </div>
    <nav>
        <ul>
         
            <% if (locals.isLogged && locals.userLogged.rol_id == '1') { %>
            <li><a href="/">Home</a></li>
            <li><%= locals.userLogged.rol_id %> </li>
            <li><a href="/producto/listadoProducto">Productos</a></li>
            <li><a href="/producto/carrito">Carrito</a></li>
            <li><a href="/producto/carga">Carga</a></li>
            <li><a href="/users/perfil">Perfil</a></li>
           
            <%} else if(locals.isLogged ) { %>
                <li><a href="/">Home</a></li>
                <li><a href="/producto/listadoProducto">Productos</a></li>
                <li><a href="/producto/carrito">Carrito</a></li>
                <!-- <li><a href="/producto/carga">Carga</a></li> -->
                <li><a href="/users/perfil">Perfil</a></li>
            
            <%}else{%> 
                <li><a href="/">Home</a></li>
                
                <li><a href="/producto/listadoProducto">Productos</a></li>                
                <li><a href="/users/register">Registro</a></li>
                <li><a href="/users/login">Login</a></li>
                <!-- <li><a href="/users/perfil">Perfil</a></li> -->
            <% } %>  

        </ul>
    </nav>       
</header>