
<header>
    <a href="/" class="logo">El Buscador</a>
    <div class="menu-cel">
        
    </div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/producto">Producto</a></li>
            <li><a href="/users/login">Login</a></li>
            <li><a href="/users/register">Registro</a></li>
            <li><a href="/producto/carrito">Carrito</a></li>
            <li><a href="/producto/carga">Carga</a></li>
        </ul>
    </nav>       
</header>